<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Hey there! I am Gautam Sharma, a dedicated and hard-working Engineer with certifications in networking,
software development, and data science. Demonstrates a strong ability to learn
quickly and apply new skills effectively. Experienced in predictive modeling,
data analysis, and machine learning from internships at Technocolab and the
Steel Authority of India. Skilled in managing websites, enhancing team
collaboration, and optimizing business processes. Passionate about leveraging
technical expertise to contribute to the IT industry and drive innovative
solutions.</p>
      </div>
      <div class="col-lg-4">
        <p>I am a student looking to showcase my work and looking forward to attracting clients. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
